{% extends 'base.html' %}
{% block content %}
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4 bg-light" style="max-width: 400px;">
      <h2 class="text-center mb-4 fw-bold">Login Usuário</h2>
      <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" placeholder="email@email.com" required>
        </div>

        <div class="mb-3">
          <label for="password1" class="form-label">Senha</label>
          <input type="password" name="password1" class="form-control" placeholder="Sua senha" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>

      <div class="text-center mt-3">
        <p>Ainda não tem conta? <a href="{% url 'cadastro_cliente' %}" class="text-primary">Faça seu cadastro aqui</a>.</p>
      </div>
    </div>
  </div>
{% endblock %}